<!DOCTYPE html>
<html>
    <head>
        <title>The Bogi</title>

        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700,900&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('main.css') }}" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="section-title">The Bridge (Second Part)</div>
                <div class="paragraph">Újabb funfact, lehet szörnyű dolog, de még sosem vettem virágot olyan embernek aki ne lenne a rokonom. 23 év után épp ideje volt, hogy ez megváltozzon. Mivel láthatóan nincs nagy tapasztalatom virágvásárlásban a biztonság kedvéért vettem egy adag répát is (ha nem vitték el akkor balkéznél találod).</div>
                <div class="paragraph">...</div>
                <div class="paragraph">...</div>

            </div>
        </div>
        <img src="{{ asset('third-step.png') }}">
        <div class="container">
            <div class="content">
                <div class="next-button">Ha a híd végén tartasz katt ide!</div>
            </div>
        </div>
    </body>
</html>